.content-wrapper {
    width: 75vw;
    margin-top: 5vh;
}

body {
    font-family: Ubuntu;
}

.horiz-line {
    height: 1px;
}

.btn:hover {
    color: white !important;
    border-color: white !important;
}

.txt-solid-hover:hover {
    color: #000 !important
}

.text-black {
    color: #000;
}

#footer > div > a:hover, .navbar-brand:hover * {
    color: white !important;
}

/* My dynamic footer! :) */
html, body {
    min-height: 100vh;
}
.page-wrapper {
    min-height: 90vh; /* 100vh - your footer height */
    display: block;
}
#footer {
    height: 10vh; /* Your height may vary */
}
.no-ul, .no-ul:hover {
    text-decoration: none;
}
