.content-wrapper {
    width: 75vw;
}

body {
    font-family: Ubuntu;
}

.horiz-line {
    height: 1px;
}

.btn:hover {
    color: white !important;
    border-color: white !important;
}

.txt-solid-hover:hover {
    color: #000 !important;
}

.border-solid-hover:hover {
    border-color: #000 !important;
}

.txt-white-hover:hover {
    color: #fff !important;
}

.text-black {
    color: #000;
}

#footer > div > a:hover, .navbar-brand:hover * {
    color: white !important;
}

.no-ul, .no-ul:hover {
    text-decoration: none;
}
.bg-trans-hov:hover {
  background-color: rgb(0, 0, 0, .65);
}
